<header class="header">
    <div>
        {{>logo}}
    </div>

    <nav class="header_nav ">
        <div class="header_nav_right">
            {{>nav list=header }}
        </div>
    </nav>
</header>

{{#with main}}
<div class="hero">
    <img src="{{image}}" alt="hero image" class="hero_image">
    <div class="hero_content">
        <h1 class="hero_title">{{heading}}</h1>
        <p class="hero_text">{{description}}</p>
        <div class="form_action">
            <a href="{{href}}" class="button main_button">{{button}}</a>
        </div>
    </div>

</div>
{{/with}}
<main class="blog">
    {{#each featured}}
    {{> blog2 data=this}}
    {{/each}}
</main>
<div class="forms_box">
    {{#each actions}}
    <div class="form">
        <div class="form_title">{{heading}}</div>
        <a href="{{url}}" class="button form_button">{{text}}</a>
    </div>
    {{/each}}
</div>

<footer class="row footer">
    <div class="col-3">
        {{>logo}}
        <span class="footer_copyright"> Copyright 2023-2024</span>
    </div>
    {{#each footer}}
    <div class="col-3">
        <span class="footer_title">{{title}}</span>
        {{>nav list=links isVertical=true }}
    </div>
    {{/each}}

</footer>